.overlay {
    position: fixed; /* Fixa o overlay na tela */
    top: 0; /* Posição superior a 0 */
    left: 0; /* Posição esquerda a 0 */
    width: 100vw; /* Largura total da viewport */
    height: 100vh; /* Altura total da viewport */
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo com transparência */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Alto z-index para garantir que fique no topo de outros conteúdos */
  }
  
  .spinner {
    border: 5px solid #f3f3f3; /* Cor clara para o círculo */
    border-top: 5px solid #3498db; /* Cor azul para o spinner */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite; /* Animação de rotação */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  